{% extends 'customer/base.html' %}

{% block content %}
<div class="container mt-5 mb-3">
    <!-- Order Status Section -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Order Status: {{ order.status }}</h4>
                <p>Order #{{ order.id }} - Status: {{ order.status }}</p>
            </div>
        </div>
    </div>

    <!-- Order Details Section -->
    <div class="row">
        <!-- Items Details -->
        <div class="col-md-8">
            {% for item in items %}
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% if item.menu_item.image %}
                                <img src="{{ item.menu_item.image.url }}" class="card-img" alt="{{ item.menu_item.name }}" style="object-fit: cover; height: 190px; width: 100%;">
                            
                              
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase mb-4 fw-bold">{{ item.menu_item.name }}</h5>
                                <p class="card-text  mb-0">Quantity: {{ item.quantity }}</p>
                                <p class="card-text fw-medium mb-0">Price: ₹{{ item.menu_item.price }}</p>
                                <p class="card-text text-muted">Description: {{ item.menu_item.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No items found for this order.</p>
            {% endfor %}
        </div>

        <!-- Payment Details -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Payment Details</h4>
                </div>
                <div class="card-body">
                    <p><strong>Total Amount:</strong> ₹{{ order.total_amount }}</p>
                    <p><strong>Restaurant:</strong> {{ restaurant_name }}</p>
                    <p><strong>Order Date:</strong> {{ order.created_at }}</p>
                    {% if order.delivered_at %}
                        <p><strong>Delivered Date:</strong> {{ order.delivered_at }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
